# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Twikit authentication
cookies.json

# Raw data
data/raw/*
!data/raw/.gitkeep

# Processed datasets
data/processed/*
!data/processed/.gitkeep

# Exports
data/exports/*
!data/exports/.gitkeep

# Results
results/figures/*
!results/figures/.gitkeep

results/graphs/*
!results/graphs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db